body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#glCanvas {
    display: block;
    width: 800px;
    height: 800px;
    margin: 0 auto;

}

#speedControl {
    width: 200px;
    margin: 0 10px;
}

#uiContainer {
    user-select: none;
}

#uiContainer label {
    font-size: 14px;
}